<ion-header>
  <ion-toolbar>
    <ion-title>Courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let course of courses" button="true" [attr.data-course-id]="course.id" (click)="viewCourse($event)">
      <ion-card-header [attr.data-course-id]="course.id">
        <ion-card-title [attr.data-course-id]="course.id">{{course.title}}</ion-card-title>
        <ion-card-subtitle [attr.data-course-id]="course.id">{{course.subject}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
